body {
    background: linear-gradient(to bottom, rgb(14, 116, 144), rgb(21, 94, 117), rgb(22, 78, 99));
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#updateNoticeExtension {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 2%;
    color: black;
}

#updateNoticeExtension a {
    text-decoration: none;
    color: white;
}

#ckHome {
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

#h3, label {
    flex-shrink: 1;
}

#ckResult {
    width: 70%;
    height: 50%;
    overflow: hidden;
    resize: none;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1%;
    outline: none;
    color: white;
}

#wvForm {
    flex-direction: column;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    gap: 1%;
}

#wvHome {
    flex-direction: column;
    width: 100%;
    height: 100%;
}


#history {
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-x: auto;
}

#histButtons {
    flex-shrink: 1;
}

#histDisp {
    flex-grow: 1;
}

#selectPssh {
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#selectRequest {
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#requestList {
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1%;
    outline: none;
    color: white;
    padding: 2%;
    width: 100%;
    height: 100%;
}

#psshList {
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1%;
    outline: none;
    color: white;
    padding: 2%;
    width: 100%;
    height: 100%;
}

#noEME {
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
}

#wvHomePSSHLines {
    display: flex;
    flex-direction: row;
    color: black;
    gap: 1%;
}

#pssh {
    flex-grow: 1;
}

#wvHomeLicenseLine {
    color: black;
    flex-direction: row;
    display: flex;
    gap: 1%;
}

#license {
    flex-grow: 1;
}

#wvHomeSchemeLine {
    display: flex;
    flex-direction: row;
    color: black;
    gap: 1%;
}

#scheme {
    flex-grow: 1;
}

#wvHomeResultLine {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    gap: 1%;
}

#result {
    resize: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1%;
    outline: none;
    width: 60%;
    text-align: center;
    color: white;
}

.json-container {
    display: flex;
    flex-direction: column;
}